/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Hello
        4.3 Work
        4.4 Variety
        4.5 Worth
        4.6 Services
        4.7 Form
        4.8 Footer
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-paars: #5722CD;
    --color-blauw: #4845E4;
    --color-roze: #ED4385;
    --color-text: #0C0C0C;
    --color-background-text: #F2F0FF;
    --color-background-project: #F3F6F9;
    --color-text-tail: #7A7A7A;
}

/* ------------------------------- 2. Typography ----------------------------------- */
body {
    font-family: "Roboto", sans-serif;
    h1, h2, h3, h4, h5, h6 {
        font-family: "Merriweather", serif;
    }
}

main {
    padding: 0 100px 0 100px;
}

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */
header {
    background: linear-gradient(
            to right,
            var(--color-blauw),
            var(--color-paars)
            );
    padding: 20px 100px 0 100px;
    text-align: center;
    color: white;
}
.list-header {
    display: flex;
    justify-content: flex-end;
}

.list-header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    gap: 30px;
}
.title-header {
    padding: 70px 20px 120px 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("assets/squiggle_line_stripe.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px auto;
    background-position: bottom;
}
p {
    padding: 30px;
    }
.button-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-roze);
    width: 150px;
    height: 40px;
    border-radius: 20px;
    margin: 0 auto;
    font-size: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

/* --------------- 4.2 Hello ------------------- */
/* --------------- 4.3 Work ------------------- */
/* --------------- 4.4 Variety ------------------- */
/* --------------- 4.5 Worth ------------------- */
/* --------------- 4.6 Services ------------------- */
/* --------------- 4.7 Form ------------------- */
/* --------------- 4.8 Footer ------------------- */


/* ------------------------------- 5. Media Queries -------------------------------- */